# Nestjs specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp
/engops-prod-review-system/frontend/node_modules
/engops-prod-review-system/frontend/dist
/engops-prod-review-system/frontend/build
/engops-prod-review-system/frontend/tmp
/engops-prod-review-system/backend/node_modules
/engops-prod-review-system/backend/dist
/engops-prod-review-system/backend/build
/engops-prod-review-system/backend/tmp
